# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
*.ipynb_checkpoints

# Ignore all CSVs and PKLs
*.csv
*.pkl

# Ignore model weights and training artifacts
*.pt
*.json
*.txt
# Updated ignore list
